.notifications {
  text-decoration: none;
  position: absolute;
  top: 190px;
  left: 450px;
}

.notification {
  padding: 10px 20px;
  margin: 20px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 700px;
  border-radius: 10px;
  transition-property: width, box-shadow;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.notification a{
  text-decoration: none;
  color: #1CDB77;
}

.notification div {
  position: absolute;
  left: 23%;
}

.notification h1{
  font-size: 13px;
  font-weight: bold;
  color: grey;
  margin-bottom: 0px;
}

.notification img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.notification img:hover {
  border: 1px solid grey;
}

.notification div p {
  margin-top: 0px;
}

.alert a{
  color: grey;
  text-decoration: none;
  opacity: 0;
  margin-top: 8px;
  position: absolute;
  right: 20px;
}

.notification:hover .alert a{
  opacity: 1;
}

.notification:hover {
  width: 80px;
  box-shadow: 5px 0 30px rgba(0,0,0,0.2);
}
